# Hassas ortam değişkenleri
.env

# Bağımlılıklar
/node_modules
/client/node_modules
/server/node_modules

# Derleme çıktıları ve loglar
/dist
/client/dist
/server/dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editör ve işletim sistemi dosyaları
.idea
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store